<form action="/games/comments/edit?_method=PUT" method="POST">
  <label for="comment">Name</label>
  <input type="text" name="name" value="edit" />
  <input hidden type="text" name="id" value="<%=comment.id%>"> 
  <input type="submit" value="<%=comment.id%>" />
</form>
