<link rel="stylesheet" href="/static/css/style"">
<body style="text-align: center;">
<p>Search a Game!</p>
<form method="GET" action="/games/results">
  <label for="game title input">Search by Game Title</label>
  <input type="text" name="gameTitle" />
  <input type="submit" />
</form>
</body>
