<h2>Express Auth Boilerplate Home Page</h2>
<p>Search a Game!</p>
<form method="GET" action="/games/results">
  <label for="game title input">Search by Game Title</label>
  <input type="text" name="gameTitle" />
  <input type="submit" />
</form>