<link rel="stylesheet" href="/static/css/style"">
<body style="font-family: 'Press Start 2P', cursive; border: 30px; background-color: aqua;">
<ul style="margin: 30px; list-style-type: none;">
  <%results.forEach(function(result) {%>
    <li style="margin: 30px; ">
      <a href="/games/<%=result.id%>"><%=result.name%></a>
    </li>
  <%})%>
</ul>
</body>


